<ng-container>
    <!--toolbar-->
    <mat-toolbar color="primary" class="example-header">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Sewa Kamera Bang Clot</span>
        <div class="uk-width-expand"></div>
        <small>Profil</small>
    </mat-toolbar>
    <!--end toolbar-->
    
    <mat-sidenav-container class="admin-container">
        <mat-sidenav 
        #sidenav 
        mode="side"    
        [position]="'start'" 
        [opened]="true"
        class="sidenav-left"
        [fixedInViewport]="true" 
        [fixedTopGap]="60"
        [fixedBottomGap]="0">
    
    <mat-nav-list>
        <mat-list-item routerLink="/admin/dashboard">
            <mat-icon matListIcon>Menu</mat-icon>
            <h3 matLine>Item</h3>
        </mat-list-item>
        <mat-list-item routerLink="/admin/images">
            <mat-icon matListIcon>camera_enhance</mat-icon>
            <h3 matLine>Pesanan</h3>
        </mat-list-item>
    </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav #sidenav mode="side" [position]="'end'"  class="example-sidenav"
    [fixedInViewport]="true" [fixedTopGap]="60"
    [fixedBottomGap]="0">
    </mat-sidenav>

    <!--sidenav content-->
        
    <!--halaman-halaman tampil disini-->
        <router-outlet><h1></h1></router-outlet>

    
    <!--end sidenav content-->
    </mat-sidenav-container>   

</ng-container>
